
<head>
	<!-- include A-Frame obviously -->
	<script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
	<!-- include ar.js for A-Frame -->
	<script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>
</head>


<style type="text/css">	
	#arjsDebugUIContainer {
		visibility: hidden;
	}
</style>

<span></span>

<body style='margin : 0px; overflow: hidden;'>

	<a-scene embedded arjs>
	    
	    <a-marker type='pattern' url='static/marker/testA.patt'>
            <a-image src="{{ source_url }}" width="1.4" height="1" rotation="270 0 0"></a-image>a
        </a-marker>

        <a-entity camera></a-entity>
  	</a-scene>

</body>
