<!DOCTYPE html>

<html lang="ko">
<head>
    <title>Streamer</title>
    <script type="text/javascript">
        var newImage = new Image();
        newImage.src = "{{url_for('static', filename='cam.png')}}" + "?" + new Date().getTime();
        function updateImage() {
            if(newImage.complete) {
                document.getElementById("cam").src = newImage.src;
                newImage = new Image();
                newImage.src = "{{url_for('static', filename='cam.png')}}" + "?" + new Date().getTime();
            }

            setTimeout(updateImage, 1000);
        }
        updateImage();
    </script>
</head>
<body>
<center>
    <img
            id="cam"
            style="user-select: none; cursor: zoom-in;"
            src="{{url_for('static', filename='cam.png')}}"
            width="967"
            height="544"
    />
</center>
</body>
</html>